body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: #E5E7Eb;



}

header {
    width: 100%;
    justify-content: center;
    align-items: top;
    gap: 50px;
    color: #F9FAF8;
    background-color: #1F2937;

}

.header-logo {
    display: flex;
    /* margin-right: auto; */
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    margin: 10;
    padding: 50;
    margin-left: 75px;

}

.link {
    font-weight: 50;
    display: flex;
    margin: right;
    gap: 10px;
    color: #F9FAF8;
    text-decoration: none;
    font-size: 15px;
}

.right-header-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-right: 100px;

}

.body1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;  /* Add padding to create space on left and right */
    gap: 50px; /* adds a gap between the text and the image */
}


.body1-header {
    display: flex;
    flex-wrap:wrap;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;

}

.text1 {
    display: flex;
    color: #F9FAF8;
    font-size: small;
    margin-bottom: 20px;

}

button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background:#3882F6;
    border: 1px solid #ddd;
    color: white;
    font-weight: bold;
}

.image-container {
    flex: 1; /* Allow text container to grow */
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
  
}

.image-container,img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.body2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;  /* Add padding to create space on left and right */
    gap: 50px; /* adds a gap between the text and the image */
}

.body2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
}

.image-container2 {
    flex: 1;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 75px 10%;
}

.caption {
    width: 230px;
    text-align: center;
}

.body3 {
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 75px 10%;
    font-style: #1F2937;
    flex-direction: column;

}

.quote {
    font-style: #1F2937;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}

.quote-caption {
    display: flex;
    align-self: flex-end; /* This aligns it to the bottom right of the quote */
    font-weight: bold;
}

.body4 {
    background-color: #3882F6;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin: 100px auto; /* auto makes the button widths smaller */ 
    padding: 40px 10%;
    border-radius: 8px;
}

.content {
    color: white;
    flex: 1;
    margin-right: 60px; /* this and line 182 creates more space between the sign up button and the text */
}

.body4-header {
    color: white;
    font-weight: bold;
    font-size: 36px;
}

.body4-text {
    font-size: 24px;
}

.sign-up-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    gap: 20px;
    padding: 8px, 24px;
}

.sign-up-button:hover {
    background-color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    font-size: 25px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}